
.button {
	--color: var(--color-accent);
	--background-color: transparent;
	background-color: var(--background-color);
	color: var(--color);
	border: 1px solid (var(--color));
	transition: background-color .2s, color .2s;
	padding: 1rem 1.5rem;
	font-weight: 600;
	display: inline-block;	
	text-transform: uppercase;
	font-family: var(--ff-heading-normal);
	&:hover {
		background-color: var(--color);
		color: var(--background-color)
	}
}

.button--accent {
	--background-color: var(--color-accent);
	--color: var(--white);
	border: 1px solid var(--color-accent);
}

.button--back-to-top .svg-arrow-up{
	fill: currentColor;
	height: 1.2rem;
	width: .95rem;
}