
.button {
	--color: var(--color-accent);
	--background-color: transparent;
	background-color: var(--background-color);
	color: var(--color);
	border: 1px solid (var(--color));
	transition: background-color .2s, color .2s;
	padding: 1rem 1.5rem;
	font-weight: 800;
	display: inline-block;	
	text-transform: uppercase;
	font-family: var(--ff-heading-normal);
	letter-spacing: .05em;
	&:hover {
		background-color: var(--color);
		color: var(--background-color)
	}
}

.button--accent {
	--background-color: var(--color-accent);
	--color: var(--white);
	border: 1px solid var(--color-accent);
}

.button--back-to-top {
	.button{
		font-family: var(--ff-header-normal);
		display: flex; 
		align-items: center;
		gap: 4px;
		letter-spacing: .05em;
	}

	svg{
	fill: currentColor;
	height: 1.2rem;
	width: .95rem;
	transform: rotate(90deg) translatex(-2px);
	display: flex;
	align-items: center;
}
}

.button--back {
	font-family: var(--ff-header-normal);
	display: flex;
	margin-bottom: var(--spacer-5);
	margin-top: calc( -1 * var(--spacer-5));
	gap: 8px;
	align-items: center;
	letter-spacing: .05em;
	svg {
		fill: currentColor;
		display: flex;
		height: .75rem;
	}
}

.button--infoIcon{
	border:none;
	background:none;
	transform: translate(5px, 5px);
	svg {
		pointer-events: none;
	}
}