@use '../abstracts/mixins' as *;
/** infobox **/


@mixin isOverflow(){
	&::before,&::after  {
		pointer-events: none;
		content: '';
		position: absolute;
		height: 50px;
		background: linear-gradient(to top, hsla(0, 0%, 100%), hsla(0, 0%, 100%, 0));
		z-index: 1;
	}
	&::before {
		display: none;
		inset: 0 0 auto;
		transform: rotate(180deg);
	}
	&::after {
		inset: auto 0 0;
	}
}
.info-sections {
	
	&.isOverflow  {
		position: relative;
		@include isOverflow();
		.inner-info-sections {
			position: relative;
			overflow-y:auto;
			
		}
		.inner-inner {
			position: relative;
			padding-bottom: 22px;
			
			
		
	}
		// .map_ui_el {
		// 	overflow: auto;
		// }
		// .infoBox {
		// 	padding-bottom: calc(.5 * var(--spacer));
		// }
	}
}

.overlay-map-info-container {
	--spacer: 32px;
	--bg: hsla(0, 0%, 100%, 1);
	position: fixed;
	top: 90px;
	bottom: var(--spacer);
	left: 50%;
	transform: translatex(-50%);
	width: 95%;
	pointer-events: none;
	opacity:0;
	transition: opacity .2s 1s;
	@include bp(md){
		left: var(--spacer);
		transform: translatex(0);
		width: clamp(200px, 40vw, 400px);
	}
	&.isLoaded {
opacity :1;
	}

	.close-infoBox {
		border: none;
		box-shadow: none;
		background: none;
		outline: none;
		color: var(--color-accent);
		font-family: var(-font-family--body);
		font-weight: 600;
		padding-right: 0;
	}

	
	.inner-map-info-container {
		position: relative;
		height: 100%;
		display: flex;
		flex-direction: column;
	}

	.mapInfoBoxContainer {
		&.isHidden {
			display: none;
		}
	
		
	}

	.infoBox-section {
		padding-top: var(--spacer-5);
	}

	.map_ui_el {
		padding: calc(.5 * var(--spacer));
		background: var(--bg);
		pointer-events: all;
		position: relative;
		border: 3px solid var(--color-accent);
	}

	.infoBox--header {
		display: flex;
		justify-content: space-between;
		align-items: start;
	}

	.slider-container {
		position: relative;
		margin-block-start: auto;
		;
	}

	.map-slider {
		position: relative;
		width: 100%;
		margin: calc(.5 * var(--spacer)) auto;
	}
	.infoBox--title,
	.latLng .infoBox--value {
		font-size:1rem;
		font-family: var(--ff-body);
		font-weight: 600;
		text-transform: uppercase;
	}
	.infoBox--header, .latLng{
		color: var(--color-accent);
	}
	.infoBox-section {
		
		&.name .infoBox--value {
			font-family: var(--ff-header-normal);
			text-transform: uppercase;
			font-size: var(--fz-lg);
		}
	}
}