.map{
	position: fixed;
	inset:0;
	opacity: 0;
	transition: opacity .2s 1s;
	&.isLoaded {
		opacity: 1;
	}
}

.leaflet-bottom.leaflet-left {
    top: 50%;
    transform: translatey(-50%);
}
.infoBox.leaflet-control {
	background: white;
	padding:1rem;
    max-width: 300px;
    max-height: 40vh;
    overflow-y: auto;
}

.infoBox--event-name {
	font-weight: 800;
}


.easy-button-button {
	display: block !important;
  }
  
  .tag-filter-tags-container {
	left: 30px;
  }
  .easy-button-container {
	transform: translatey(350%) translatex(300%);
  }
.marker {
	opacity: 0;
	background: orange;
	border-radius: 50%;
	animation: markerAnimation .51s  ease-in-out .0s 1 forwards;
}
  @keyframes markerAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
  }


  
  /** Slider position **/

.home .transition-container {
	bottom: 0;
	position:absolute;

}

.leaflet-top.leaflet-left{
	display: flex;
	.leaflet-control {
		margin-left:0;
	}
}

.leaflet-heatmap-layer.leaflet-layer {

}