@use './abstracts/mixins' as * ;
.page-events .inner-page {
	background: transparent;
	border:none;
	outline:none;
	padding:0;
}
.event-card {
	margin-top: var(--grid-spacer);
	font-family: var(--ff-header-normal);
	background-color: var(--white);
	box-shadow: 0 2px 8px -5px var(--black);
	color: var(--color-text);
	text-decoration: none;
	transition: transform .2s, box-shadow .2s;
	.block-content-link:first-of-type &{
		margin-top: 0;
	}
	&:hover {
		transform: scale(1.01);
		box-shadow: 0 5px 8px -5px var(--black);
	}
}
.inner-img-wrap {
    height: 100%;
    background-size: cover;
    min-height: 230px;
    width: 100%;
    background-position: center;
}
.event-card__header,.event-card__info-wrapper {
	display: flex;flex-direction: column; gap:8px;
}
.event-card__info-wrapper {
	gap:var(--gap);
}

.event-card__inner {
	display: grid;
   
    gap: var(--gap);
	@include bp(lg){
		grid-template-columns: .3fr 1fr .7fr;
	}
	& > div {
		display : flex;
		@include bp(lg){
		flex-direction: column;
		}
	}

	.event-card__location {
		margin-top: auto;
		font-family: var(--ff-header-normal);
	}
}

.event-card__daytime-wrap {
	gap: 1em;
	@include bp(lg){
	gap:0;
}
}
.event-card__day-of-week,
.event-card__date,
.event-card__time,
.event-card__location {
	text-transform: uppercase;
	font-weight: 600;
	font-size: var(--fz-md);
}
.event-card__date,
.event-card__time {
	color: var(--color-accent);
}

.event-card__time {
	margin-top: auto;
	display: flex;
}

.event-card__event-category {
	text-transform: uppercase;
	font-weight: 600;
	// color: var(--color-accent);
	font-size: var(--fz-sm);
	font-family: var(--ff-body);
	letter-spacing: .05em;
}

.event-card__event-name {
	text-transform: uppercase;
	font-weight: 600;
	font-size: var(--fz-xl);
	margin-bottom: 0;
	font-family: var(--ff-header-normal);
}
.artist__names {
	display: flex;
	text-transform: uppercase;
	color: var(--color-accent);
	gap: var(--grid-spacer);
	font-size: var(--fz-md);
	font-weight: 600;
	font-family: var(--ff-header-normal);
	letter-spacing: .05em;
}