
.container {
	--sidebar-width: 300px;
	width: 100%;
	max-width: 1180px;
	margin-left: auto;
	margin-right:auto;
	padding-left: var(--grid-spacer);
	padding-right: var(--grid-spacer);
}

.flex-row {
	--gap: var(--grid-spacer);
	display: flex;
	& > * {
		flex: 0;
	}
	&.flex-wrap {
		flex-wrap: wrap;
	}
	&.gap {
		gap: var(--gap);
	}
	&.gap-2 {
		gap: calc(2 * var(--gap));
	}
	&.__3x > *{
		flex-basis:calc(33% - var(--gap));
	}
	main,
	.main {
		flex: 1;
	}
	aside,.sidebar {
		flex: 0 0 var(--sidebar-width);
	}
}

.columns {
	// column-count: 2;
	// column-width: var(--sidebar-width);
	font-size: var(--fz-md);
}
.columns-3 {
	column-count: 3;
	font-size: var(--fz-md);
}

.avoid-break-inside {
	page-break-inside: avoid;
}


.col {
	flex:1;
}

.entry-content {
	display: flex;
	flex-direction: column;
	gap: var(--gap);
}