@use './abstracts/mixins' as *;

.container {
	--sidebar-width: 19rem;
	width: 100%;
	max-width: 73rem;
	// margin-left: auto;
	// margin-right: auto;
	margin-inline: auto;
	// padding-left: var(--grid-spacer);
	// padding-right: var(--grid-spacer);
	padding-inline: var(--grid-spacer);
	container-type: inline-size;
	&.no-padding {
		padding:0;
	}
}
.header-container {
	@extend .container;
	max-width: 83rem;
	container-type: initial;
}

.container--fluid {
	@extend .container;
	max-width: none;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.order--0 {
	order: 0;
}

.order--first {
	order: -1;
}

.order--last {
	order: 100;
}

.flex-row {
	display: flex;
	flex-direction: column;

	@include bp(md) {
		flex-direction: row;
	}

	& > * {
		flex: 0;
	}

	&.flex-wrap {
		@include bp(md) {
			flex-wrap: wrap;
		}
	}

	&.__3x { 
		display: grid;
		@include bp(md){
		grid-template-columns: 1fr 1fr;
	}
		@include bp(lg){
		grid-template-columns: 1fr 1fr 1fr;
	}
		> * {
		// flex-basis: calc(33% - var(--gap));
		// flex-grow: 0;
	}
}

	main,
	.main {
		flex: 1;
	}

	aside,
	.sidebar {
		flex: 0 0 var(--sidebar-width);
	}
}

.gap {
	gap: var(--gap);
}

.gap-2 {
	gap: calc(2 * var(--gap));
}

.columns {
	// column-count: 2;
	// column-width: var(--sidebar-width);
	font-size: var(--fz-md);
}

.columns-3 {
	column-count: 3;
	font-size: var(--fz-md);
}

.avoid-break-inside {
	page-break-inside: avoid;
}


.col {
	flex: 1;

	&.flex-1-3 {
		flex-grow: 0;
		flex-basis: calc(33% - var(--gap));
	}
}


.entry-content {
	display: flex;
	flex-direction: column;
	gap: var(--gap);
}