@use './abstracts/mixins' as *;

.menu-item {
	@include bp(md) {
		line-height: 1;
	}
}

.site-description {
	display: none;
}

.site-header {
	padding: 1rem 0;
	display: flex;
	gap: 8%;
	justify-content: space-between;
	position: relative;
	z-index: 100;

}

.site-branding {
	width: 550px;
	z-index: 1000;

	img {
		width: 100%;
	}
}

.main-navigation,
.secondary-navigation {
	// padding: 0 2rem;
	font-size: var(--fz-md);
	width: 100%;
	text-align: center;

	@include bp(md) {
		width: auto;
	}

	.menu {
		list-style-type: none;
		display: flex;
		gap: 1rem;
		padding: 0;
		margin: 0;
	}

	.menu-item {
		.nav-link {
			@include bp(md, "max-width"){
				width: 100%;
				display: inline-block;
			font-size: 2em;
			}
		}
	}

	.current-menu-item .nav-link {
		
		color: var(--color-accent);
		.nav-link__text.nav-link__text {
			display: inline-block;
			border-color: currentColor;
		}
	}

	a {
		text-decoration: none;
		color: var(--color-text);
		text-transform: uppercase;
		font-family: var(--ff-header-normal);
	
		transition: color 1.2s, border-color .2s;
		font-size: 1.3rem;
		letter-spacing: 2px;
		.nav-link__text {
			border-bottom: 2px solid transparent;
		}

		&:hover {
			--text-color: var(--color-accent) // color:var(--color-accent);
			.nav-link__text {
				border-color: var(--text-color);
			
			}
		}

	}
}

.main-navigation {
	@include bp(md) {
		// margin-left: auto;
		margin-right: auto;
	}
}

.mobile-nav-toggle.hamburger {
	display: block;
	position: relative;
	z-index: 1000;

	@include bp(md) {
		display: none;
	}
}

.site-navigation-wrapper {
	display: flex;
	width: 100%;

	@include bp(md, 'max-width') {
		// display: none;
		flex-direction: column;
		gap: 1rem;
		position: fixed;
		background: white;
		inset: 0;
		height: 100%;
		z-index: 1;
		justify-content: center;
		align-items: center;
		transform: translatex(-100%);
		transition: transform .2s ease-in-out;
		.site-header.is-active &{
			transform: translatex(0);
		}
	}

}

.menu {
	@include bp(md, 'max-width') {
		display: flex;
		flex-direction: column;
	}
}

// .inner-site-navigation-wrapper {
// 	display: flex;
// flex-direction: column;
// align-items: center;
// justify-content: center;
// gap: 1rem;
// @include bp(md){
// 	flex-direction: row;
// 	width: 100%;
// }
// }