@font-face {
	font-family: "Vibrate";
	src: url('../fonts/Vibrate.woff');
}
@font-face {
	font-family: "Helvetica Neue Condensed Bold";
	src: url('../fonts/Helvetica_Neue_Condensed_Bold.woff');
}
html,body {
	line-height: 1.3;
}
.h1,.h2 {
	margin-bottom: var(--vert-heading-spacer);
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	text-transform: uppercase;
	font-weight: 600;
		letter-spacing: .05em;
		color: var(--color-accent);
		font-family: var(--ff-header-normal);
	&.color-black{
		color: #111;
	}
	&.ff-display {
		font-family: var(--ff-header);
		letter-spacing: 0;	
	}
}

.normal-font,
.ff-normal {
	font-family: var(--ff-header-normal);
}

.h1 {font-size: var(--fz-xxxl);}
.h2 {font-size: var(--fz-xl);}
.h3 {font-size: var(--fz-lg);}
.h4 {font-size: var(--fz-md);}
.h5 {font-size: var(--fz-sm);}
.h6 {font-size: var(--fz-xs);}
.h2,.h3 {
	letter-spacing: 0.05em;
}
.fz-md {
	font-size: var(--fz-md);
}
.fz-lg {
	font-size: var(--fz-lg);
}
.fz-xl {
	font-size: var(--fz-xl);
}

.heading-sm {
	font-size: var(--fz-hlg);
	margin-bottom: var(--vert-body-spacer);
}

a:not(.block-content-link):not(.button):not(.art-work__card ):not(.nav-link):not(.inpage-link):not(.sidebar__content):not(.no-underline) {
	color: var(--color-accent);
	text-decoration: underline;    
	text-decoration-thickness: 1px;
    text-underline-offset: 0.1em;
	transition: color .2s, border-color .2s;
	letter-spacing: .05em;
	&:hover {
		color: var(--color-text);
	}
}
p {
	margin-bottom: 1rem;
	.page-exhibition &{
	margin-bottom: var(--vert-body-spacer);
}
}
p:last-of-type,dl:last-of-type{
	margin-bottom: 0;
}

h2.section-title {
	border-bottom: 1px solid;
}